.remove-posting-popup {
  width: 35% !important;
  font-family: "Poppins-Bold", "Poppins";
}

.remove-posting-popup h5 {
  color: #6d2ef1;
  font-weight: 600;
}

.popup-radio {
  list-style: none;
  margin: 0;
  padding: 0%;
}
.popup-radio input {
  accent-color: #6d2ef1;
}

.remove-posting-popup > p {
  font-size: 12px;
  color: rgb(128 123 123);
}
.remove-posting-popup > p > span {
  font-size: 12px;
  color: #6d2ef1;
}

.remove-posting-popup .reason-to-remove-posting h6 {
  font-weight: 600;
  font-size: 1.1em;
}

.remove-posting-popup .reason-to-remove-posting li {
  font-size: 14px;
  color: rgb(128 123 123);
  padding: 5px 0;
}

.remove-posting-popup .remove-posting-btns {
  border: 1px solid rgb(155, 151, 151);
}

/* change passsword */

.change-password-popup {
  font-family: "Poppins-Bold", "Poppins";
}

.change-password-popup h5 {
  color: #6d2ef1;
  font-weight: 700;
}

.change-password-popup .password-inp .inp-label {
  font-size: 14px;
  color: black;
  font-weight: 700;
  padding: 5px 0;
}
.change-password-popup .password-inp .input-grp input {
  outline: none;
  border: none;
  border: 1px solid #cbcaca;
  width: 100%;
  height: 40px;
  margin: 5px 0;
  padding: 3px 38px 3px 10px;
}
.change-password-popup .alert-inp {
  font-size: 12px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.change-password-popup .alert-inp input {
  accent-color: #6d2ef1;
  margin-right: 4px;
}
.change-password-popup .password-inp .input-grp {
  position: relative;
}

.showInpPass {
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 10px;
  color: #aaaaaa;
}

/* set varification */
.set-varification-popup {
  font-family: "Poppins-Bold", "Poppins";
}
.set-varification-popup h5 {
  color: #6d2ef1;
  font-weight: 700;
}
.set-varification-popup .varification-first {
  margin: 25px 0;
}

.set-varification-popup .varification-first h6 {
  font-size: 16px;
  font-weight: 600;
}

.set-varification-popup .varification-first .popup-radio label {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  .set-varification-popup .varification-first .popup-radio label span {
    margin: 0 10px;
  }

.set-varification-popup .varification-first .popup-radio {
  color: #9b9696;
  font-weight: 300;
  font-size: 13px;
}
.set-varification-popup .when-confirm {
    margin: 25px 0 0 0;
}

.set-varification-popup .when-confirm h6 {
  font-size: 16px;
  font-weight: 600;
}

.set-varification-popup .when-confirm .popup-radio {
  color: #9b9696;
  font-weight: 300;
  font-size: 13px;
}
.set-varification-popup .when-confirm .popup-radio label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.set-varification-popup .when-confirm .popup-radio label span {
  margin: 0 5px;
}

.team_name label{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 15px;
}
.team_name label > input{
  outline: none;
  border: none;
  border: 1px solid #cbcaca;
  width: 100%;
  height: 42px;
  margin: 5px 0;
  padding: 3px 38px 3px 10px;
}

.create_new_team_popup h5 {
  color: #6d2ef1;
  font-weight: 600;
}

.create_new_team_popup > p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(128 123 123);
  margin: 20px 0;
}
.create_new_team_popup > p > span {
  font-size: 12px;
  color: #6d2ef1;
}
.edit_team_popup h5 {
  color: #6d2ef1;
  font-weight: 600;
}

.edit_team_popup label {
  margin: 20px 0;
}

