.pd_head_h1 h1 {
  font-size: 25px;
}

.wn_freelancer {
  font-size: 13px;
}

.pd_evf_n {
  font-size: 18px;
  line-height: 21px;
}

.pd_n_blpara p {
  font-size: 13px;
  line-height: 20px;
}

.pad_n_pdd {
  padding: 13px 20px !important;
}
.pad_n_pdd a:hover {
  color: white !important;
}

.pd_n_bh h3 {
  font-size: 22px;
}

.pd_n_bss .b_skil {
  font-size: 12px;
  padding: 11px 17px;
}

.pd_n_vbbtn button {
  padding: 11px 20px;
  font-size: 13px;
}

.pd_n_wii svg {
  height: 90px;
  width: 90px;
}

.pd_n_fbspro button {
  padding: 14px 20px;
}

.ps-relative {
  position: relative;
}

.ipdlar_sign {
  position: absolute;
  right: 10px;
  font-family: "poppins";
  font-size: 17px;
  top: 7px;
  font-weight: 700;
  color: #6d2ef1;
}

.pd_n_sendp {
  min-width: 170px;
  font-size: 13px !important;
}

.price_ar_jjob h1 {
  color: #170048 !important;
}

.price_ar_jjob p {
  color: #b9b9b9 !important;
}

.propo_box {
  border-radius: 7px;
}

.pro_cli_sm_te {
  font-size: 11px;
}

.pd_par_for p {
  font-size: 13px;
  line-height: 19px;
}

.agree_term_b input {
  height: 18px;
  width: 18px;
}

.ps_n_sef h3 {
  font-size: 18px !important;
}

.ps_n_sefp p {
  font-size: 11px !important;
}

.s_na_h4 h4 {
  font-size: 14px !important;
  line-height: 20px;
}

.s_na_inpu input,
.s_na_inpu select {
  font-size: 12px !important;
}

.s_na_categ label {
  font-size: 11px !important;
}

.s_na_categ input {
  height: 15px;
  width: 15px;
}

.s_na_categ {
  align-items: center;
}

.uf_n_abh h1 {
  font-size: 40px !important;
}

.uf_n_msh h3 {
  font-size: 25px !important;
}

.uf_dmpn {
  font-size: 15px !important;
  line-height: 20px !important;
}

.pt_num {
  font-size: 21px !important;
}

.pt_n1 {
  color: #0777fd !important;
}

.pt_n2 {
  color: #8d7b9b !important;
}

.pt_n3 {
  color: #f66c6c !important;
}

.pt_n4 {
  color: #6cd3db !important;
}

.hid_f_serv {
  padding: 35px 0px !important;
}

.my_skil_head h3 {
  line-height: 20px !important;
}

.border_bx_sec {
  padding: 0px 25px !important;
}

.no_sudo:after {
  display: none !important;
}

.no_sudo:before {
  display: none !important;
}

.bg_wrapper_popup_new {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000000a1;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_box_bpn {
  max-width: 470px;
  width: 95%;
  padding: 0px 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 200px;
  max-height: 95vh;
  overflow-y: scroll;
}

.popup_box_bpn::-webkit-scrollbar {
  display: none;
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.p_header_hding {
  color: #6d2ef1;
  font: normal normal bold 25px/35px Poppins;
}

.close_pp_btn {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.close_pp_btn:hover {
  cursor: pointer;
}

.popup_form_element {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.popup_form_element label {
  text-align: left;
  font: normal normal normal 15px/30px Poppins;
  letter-spacing: 0.2px;
  color: #828282;
}

.popup_form_element input,
.popup_form_element textarea,
.popup_form_element select {
  border: 1px solid #e8e7e7;
  border-radius: 3px;
  width: 100%;
  outline: none;
  padding: 7px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.popup_form_element > input {
  height: 40px;
}

.popup_form_element > .language_sel {
  height: 40px;
  color: #1e1e1e;
  border: 1px solid #e8e7e7 !important;
  border-radius: 3px;
  width: 100%;
  outline: none;
  padding: 7px 20px;
  -webkit-border-radius: 3px;
}

.popup_form_element select {
  border-color: #000;
  color: #000;
  padding-left: 10px !important;
  border: 1px solid #e8e7e7;
  padding-right: 20px !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.popup_form_element textarea {
  height: 100px;
}

._profile_overview textarea {
  resize: none;
  padding: 5px !important;
  font-size: 12px;
  color: #4d4d4d;
  text-align: justify;
  font-weight: 400;
}

._profile_overview textarea::-webkit-scrollbar {
  display: none;
}

._profile_overview textarea::placeholder {
  font-size: 12px;
  color: #4d4d4d;
  text-align: justify;
  font-weight: 400;
}

.popup_radio_element {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  font: normal normal medium 18px/30px Poppins !important;
  letter-spacing: 0.26px !important;
  color: #393939 !important;
  padding-right: 20px;
}

.popup_radio_element input {
  height: 18px;
  margin-right: 10px;
  width: 18px;
}

.popup_btns_new {
  display: flex;
  padding: 20px 0px;
}

.popup_btns_new button {
  background-color: #6d2ef1;
  color: #fff;
  font: normal normal medium 18px/30px Poppins !important;
  font-weight: bold;
  border-radius: 60px !important;
  text-transform: uppercase;
  padding: 11px 45px;
  margin-top: 5px;
  min-width: 160px;
  margin-right: 15px;
  border: #6d2ef1 solid 1px;
  -webkit-border-radius: 60px !important;
  -moz-border-radius: 60px !important;
  -ms-border-radius: 60px !important;
  -o-border-radius: 60px !important;
}

@media screen and (max-width: 321px) {
  .popup_btns_new button {
    padding: 11px 30px;
  }
}

.popup_btns_new button:hover {
  background-color: #fff;
  color: #6d2ef1;
}
.blue_btncb {
  background-color: #6d2ef1 !important;
  color: #fff !important;
}
.btnhovpple:hover {
  background-color: #6d2ef1 !important;
  color: #fff !important;
  border-color: #6d2ef1 !important;
}
.hov_whitepple:hover {
  background-color: #fff !important;
  color: #6d2ef1 !important;
  border-color: #6d2ef1 !important;
}

.popup_btns_new button:disabled {
  background-color: #5e5e5e;
  color: #fff;
  font: normal normal medium 18px/30px Poppins !important;
  font-weight: bold;
  border-radius: 60px !important;
  text-transform: uppercase;
  padding: 11px 45px;
  margin-top: 5px;
  min-width: 160px;
  margin-right: 15px;
  border: none;
  -webkit-border-radius: 60px !important;
  z-index: -1;
}

.popup_btns_new .trans_btn {
  background-color: transparent !important;
  color: #6d2ef1;
}

.mile_sutone_amoun {
  padding: 15px 0px;
  padding-bottom: 0 !important;
}

.mile_sutone_amoun h2 {
  text-align: center;
  margin: 0;
  font: normal normal bold 40px/50px Poppins;
  letter-spacing: 0.6px;
  color: #1f1f1f;
}

.add_miestone_lbel {
  color: #6d2ef1 !important;
  font-size: 13px !important;
  font-weight: bold !important;
  display: flex;
  align-items: center;
}

.total_box_oioup {
  padding: 15px 0px;
  border-top: #e8e7e7 solid 1px;
  margin-top: 15px;
  padding-bottom: 0 !important;
}

.flex_jus_cen_new {
  display: flex;
  justify-content: space-between;
}

.free_unofy_smtext {
  font: normal normal normal 15px/30px Poppins;
  letter-spacing: 0.2px;
  color: #828282;
}

.yr_rve_at_ltext {
  font: normal normal 600 20px/30px Poppins;
  letter-spacing: 0.25px;
  color: #393939;
}

.amount_popup_body .popup_form_element {
  margin-top: 10px !important;
}

.addMoreLanguageBtn {
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 5px;
  margin-top: 5px;
  background-color: #6d2ef1;
  color: #ffffff;
  min-width: 100px;
  font-size: 12px;
  margin-right: 15px;
  border: #6d2ef1 solid 1px;
  border-radius: 20px;
}

.addMoreLanguageBtn[disabled] {
  border: none;
  color: #fff;
  background-color: #a7a6aa;
}

.freelancer_all_contract {
  font-size: 27px !important;
  color: #000 !important;
  font-weight: 600 !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.hire_box_yh {
  position: relative;
}

.hire_box_yh .sub_radio {
  top: 20px;
}

.new_hbyh {
  min-height: 250px !important;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.skip_question_btn_frel {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0px;
}

.skip_question_btn_frel button {
  color: #6d2ef1;
  border-radius: 0px !important;
  box-shadow: none;
  border: none;
  background-color: transparent;
  font: normal normal 800 20px/30px Poppins;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.pst_earning_hdd_free {
  font: normal normal 800 20px/30px Poppins;
  font-size: 23px !important;
  color: #000 !important;
  font-weight: 400 !important;
}

.pst_earning_hdd_free span {
  color: #6d2ef1;
  font-weight: 500 !important;
}

.color_gray {
  height: 29px !important;
  width: 29px !important;
  border: #707070 solid 1px !important;
}

.color_gray svg {
  fill: #707070 !important;
}

.border-r-7 {
  border-radius: 7px;
}

.form_goals {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form_goals .formg_label {
  min-width: 200px;
  font: normal normal 600 16px/26px Poppins;
  letter-spacing: 0px;
  color: #0e1f3e;
}

.form_goals .formg_inp {
  width: calc(100% - 200px);
}

@media only screen and (max-width: 550px) {
  .form_goals .formg_inp {
    width: 100% !important;
  }
}

.form_goals .formg_inp input,
.form_goals .formg_inp select {
  padding: 9px 20px;
  border: 1px solid #e8e7e7;
  width: 100%;
  font: normal normal normal 14px/26px Poppins;
  color: #b7b0b0;
  outline: none;
}

.form_goals .formg_inp label input {
  width: 14px;
  height: 14px;
  margin: 0px 10px 1px 0px;
}

.iclosed_ctract {
  margin-left: 30px;
  text-indent: 7px;
  font-size: 14px !important;
}

.form_goals .formg_inp label {
  font: normal normal 600 16px/30px Poppins;
  letter-spacing: 0px;
  color: #0e1f3e;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.form_goals .half_width_fi {
  max-width: 40% !important;
}

.transaction_head_n {
  border-bottom: 1px solid #e8e7e7;
  padding-bottom: 30px;
}

.mjh_new_smtext {
  font: normal normal 800 20px/35px Poppins;
  font-size: 26px !important;
  padding-bottom: 10px;
  color: #000 !important;
  font-weight: 600 !important;
}

.only_textstyle {
  border: none !important;
  background-color: transparent !important;
  color: #6d2ef1 !important;
}

.only_textstyle svg {
  fill: #6d2ef1 !important;
}

.trx_tbl_freelancer thead {
  border-color: transparent !important;
}

.trx_tbl_freelancer thead tr th {
  color: #1f1f1f !important;
  font: normal normal medium 16px/26px Poppins !important;
}

.trx_tbl_freelancer tbody tr {
  height: 60px;
}

.trx_tbl_freelancer tbody tr td {
  color: #847777 !important;
  margin-top: 5px;
  font: normal normal normal 16px/26px Poppins !important;
}

.trx_tbl_freelancer tbody tr td span {
  color: #6d2ef1;
}

.table > :not(caption) > * > * {
  padding: 0.7rem 0.5rem !important;
}

.awd_label {
  font: normal normal normal 14px/0px Poppins;
  letter-spacing: 0.2px;
  color: #828282;
}

.overv_sm_thead {
  font: normal normal 600 16px/20px Poppins;
  color: #1f1f1f;
  padding-bottom: 5px;
}

.overv_number {
  font: normal normal 800 20px/20px Poppins;
  letter-spacing: 0px;
  color: #1f1f1f;
}

.box_overv_new {
  padding: 25px 20px;
  width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box_overv_new.active {
  border-bottom: #6d2ef1 solid 4px;
}

@media screen and (max-width: 768px) {
  .box_overv_new {
    padding: 10px 10px;
  }

  .overv_sm_thead {
    font: normal normal 600 14px/20px Poppins;
  }
}

@media screen and (max-width: 425px) {
  .box_overv_new {
    padding: 10px 10px;
    min-width: 170px;
  }
}

@media screen and (max-width: 375px) {
  .box_overv_new {
    padding: 10px 10px;
    min-width: 170px;
  }
}

@media screen and (min-width: 1440px) {
  .overv_sm_thead {
    font: normal normal 600 18px/20px Poppins;
    color: #1f1f1f;
    padding-bottom: 5px;
  }
}

.overv_lst_nme {
  font: normal normal 400 14px/26px Poppins;
  letter-spacing: 0px;
  color: #1f1f1f;
}

.progress_box_frl img {
  height: 100%;
  width: 100%;
}

.pd_progress {
  padding-left: 22px;
}

.report_tbl_frl {
  width: 100%;
}

.report_tbl_frl thead {
  border-top: #e2e2e2 solid 1px;
}

.single {
  right: 10px !important;
}

.daterangepicker.opensright:before {
  display: none !important;
}

.daterangepicker.opensright::after {
  display: none !important;
}

.report_tbl_frl thead tr th {
  padding: 12px 12px;
  color: #1f1f1f;
  font: normal normal 600 15px/26px Poppins !important;
  border-right: #e2e2e2 solid 1px;
}

.report_tbl_frl tbody tr {
  border-bottom: #e2e2e2 solid 1px;
}

.filter_svg_btnwni {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.filter_svg_btnwni svg {
  fill: #fff;
  margin-right: 10px;
}

.report_tbl_frl tbody tr td {
  padding: 18px 20px;
  color: #1f1f1f;
  font: normal normal 400 15px/26px Poppins;
  border-right: #e2e2e2 solid 1px;
}

.amount_tr_frl {
  font: normal normal 600 15px/26px Poppins !important;
}

.table_label {
  background-color: #f9f9f9;
  padding: 12px 0px;
  color: #1f1f1f;
  font: normal normal 600 15px/26px Poppins !important;
}

.p_my_report32 {
  padding-left: 30px;
  padding-right: 30px;
}

.tbl_profile_frl {
  height: 40px;
  width: 40px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.tbl_profile_frl img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tbl_pfrl_name {
  color: #000;
  font: normal normal 600 13px/26px Poppins !important;
}

.tb_prl_des_res {
  color: #000;
  font: normal normal 400 12px/13px Poppins !important;
}

.me_haeder_sections {
  padding: 50px 0px 30px 0px;
}

.me_hed_h2_new h2 {
  font: normal normal 600 26px/30px Poppins !important;
}

.me_hed_verif_stus {
  font: normal normal 400 14px/20px Poppins !important;
  color: #324047;
}

.me_hed_verif_stus svg {
  fill: #6d2ef1;
  margin-right: 7px;
}

.prof_round_me {
  height: 55px;
  width: 55px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.prof_round_me img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.prof_name_ne {
  font: normal normal 600 17px/20px Poppins !important;
}

.prof_sm_me {
  font: normal normal 400 12px/20px Poppins !important;
  color: #697a7e;
}

.box_gray_ml_ncw {
  background-color: #f8f8f8;
  padding: 20px 25px;
  min-width: 200px;
  margin: 20px 0px;
}

.name_bgmn {
  font: normal normal 500 15px/20px Poppins !important;
  color: #1f1f1f;
}

.amount_bgmn {
  font: normal normal 600 23px/22px Poppins !important;
  color: #1f1f1f;
  padding: 10px 0px 0px 0px;
}

.blue_bgmln {
  background-color: #6d2ef1;
}

.blue_bgmln .amount_bgmn,
.blue_bgmln .name_bgmn {
  color: #fff !important;
}

.milestone_nbdr_tl thead {
  border-top: 0 !important;
  border-bottom: #d8d8d8 solid 1px;
}

.milestone_nbdr_tl thead th {
  padding-left: 5px !important;
}

.tg_mile_ml_new {
  padding: 20px 0px;
  align-items: center;
  border-top: #d8d8d8 solid 1px;
  border-bottom: #d8d8d8 solid 1px;
  font: normal normal 500 18px/22px Poppins !important;
}

.tg_mile_ml_new p {
  margin-bottom: 0;
}

.ad_earning-node {
  font: normal normal 500 18px/22px Poppins !important;
}

.adtime_txtccwd {
  font: normal normal 500 15px/22px Poppins !important;
}

.adtime_txtccwd .toggle_btn_dot {
  margin-left: 15px;
  cursor: pointer;
}

.mileStone_daterangepicker {
  top: 617px !important;
}

.no_txn_box_nwdi {
  padding: 13px 0px;
  text-align: center;
  font: normal normal 400 14px/22px Poppins !important;
  color: #1f1f1f;
  border-bottom: #d8d8d8 solid 1.5px;
}

.bg-gray_inp {
  background-color: #fafafa !important;
  width: 100% !important;
  max-width: 100% !important;
}

.mess_dy_albel {
  margin: 15px 0px;
  width: 100%;
  color: #697a7e;
  border: #d8d8d8 solid 1px;
  font: normal normal 400 14px/22px Poppins !important;
  padding: 10px 20px;
}

.mess_box_cw {
  padding: 20px 0px;
  display: flex;
}

.mess_prof_cw {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.mess_prf_name {
  font: normal normal 600 17px/24px Poppins !important;
  color: #1f1f1f;
}

.wmn__50px {
  width: calc(100% - 50px);
  font: normal normal 400 13px/22px Poppins !important;
  color: #192326;
}

.mess_prof_cw img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mess_footer_cm {
  width: 100%;
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
}

.link_btn_mfc {
  background-color: transparent;
  border: none !important;
  outline: none;
  height: 50px;
  width: 50px;
}

.link_btn_mfc svg {
  height: 35px;
  width: 35px;
}

.mess_footer_cm input {
  background-color: #f6f6f6;
  border: #bbbbbb solid 1px;
  font: normal normal 400 14px/22px Poppins !important;
  padding: 15px 20px;
  width: 80%;
  margin: 0px 10px;
}

.send_btn_mfc {
  background-color: #6d2ef1;
  font: normal normal 600 14px/22px Poppins !important;
  color: #fff;
  padding: 10px 30px;
  border: #6d2ef1 solid 1px;
}

.attact_file_inp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mess_files_g_bx {
  background-color: #f9f9f9;
  padding: 20px 0px;
  margin-top: 15px;
}

.mfgb_header {
  font: normal normal 600 17px/22px Poppins !important;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.file_bx_mfgb {
  border: #e9e9e9 solid 1px;
  font: normal normal 400 14px/22px Poppins !important;
  padding: 13px 20px;
}

.fiel_con {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #f0ecf9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.time_btm_mfgb {
  display: flex;
  align-items: flex-end;
  font: normal normal 400 12px/22px Poppins !important;
}

.font_wcfw_600 {
  font-weight: 600 !important;
}

.f_scew_12 {
  font-size: 13px;
}

.bbottome_none {
  border-bottom: none !important;
}

.trm_hdn {
  font: normal normal 700 22px/35px Poppins !important;
  padding: 10px 0px;
}

.trm_desm_txt {
  font: normal normal 400 14px/25px Poppins !important;
  color: #3f4548;
}

.c_info_bx_nexa {
  background-color: #f6f6f6;
  padding: 20px 20px;
  margin: 55px 0px;
  border: #e2e2e2 solid 1px;
}

.cib_hde {
  font: normal normal 600 18px/35px Poppins !important;
}

.fe_scets_tx {
  padding: 25px 0px;
  border-bottom: #d8d8d8 solid 1px;
}

.fe_scets_smtx h2 {
  font: normal normal 600 21px/30px Poppins !important;
}

.fe_scets_tx h2 {
  font: normal normal 600 23px/30px Poppins;
  margin: 0;
}

.fesm_cea {
  font: normal normal 400 14px/30px Poppins;
}

.ci_td_list {
  position: relative;
  margin: 10px 20px 10px 0px;
  padding-left: 15px;
  font: normal normal 400 14px/35px Poppins !important;
}

.ci_td_list:before {
  content: " ";
  background-color: #6d2ef1;
  height: 10px;
  width: 10px;
  top: 12px;
  position: absolute;
  left: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.ci_td_list b {
  margin-right: 10px;
}

.f_new_contact_info {
  font-weight: 500 !important;
  font-size: 20px !important;
  padding-bottom: 5px !important;
}

.font-color-light {
  color: #393939 !important;
  font-weight: 300 !important;
}

.trans_bg_btns_paym {
  display: flex;
}

.trans_bg_btns_paym button {
  color: #393939 !important;
  background-color: transparent;
  border: none !important;
  margin: 0px 10px;
  font: normal normal 600 14px/35px Poppins !important;
}

.label_cnwy {
  font: normal normal 400 15px/17px Poppins !important;
  color: #393939;
  min-height: 30px;
}

.sbh_sm_cewouwun {
  font: normal normal 400 14px/35px Poppins !important;
  color: #393939;
}

.ccewotcy {
  font: normal normal 500 20px/35px Poppins !important;
}

.head_mystat_h2 h2 {
  font: normal normal 500 20px/35px Poppins !important;
}

.head_mystat_js {
  font: normal normal 500 17px/25px Poppins !important;
}

.mystst_sm_ceq {
  font: normal normal 400 15px/35px Poppins !important;
}

.h_tr_pls_ncew,
.mys_stst_flex {
  display: flex;
  margin: 5px 0px;
  align-items: center;
  flex-wrap: wrap;
}

.mys_stst_flex {
  font: normal normal 400 14px/30px Poppins;
  color: #1f1f1f;
}

.mstat_lbel {
  min-width: 280px;
}

.lne_height_stst_nrm {
  line-height: 24px !important;
}

.mystst_sm_ceq svg {
  margin-right: 8px;
}

.be_hed_s_ew {
  font: normal normal 400 14px/30px Poppins;
  color: #1f1f1f;
}

.be_hed_s_ew a {
  text-decoration: none;
  color: #6d2ef1;
}

.btn_group_be {
  display: flex;
  justify-content: center;
}

.btn_group_be button {
  font: normal normal 600 14px/30px Poppins;
  border: none;
  padding: 8px 20px;
}

/* .btn_group_be button:hover {
  background-color: #fff;
} */

.active_btn_be {
  background-color: #6d2ef1;
  color: #fff;
}

.bxo_be_nac {
  padding: 15px 0px 15px 10px;
  border-bottom: #f9f6ff solid 1px;
  cursor: pointer;
  width: 100%;
}

.bill_earn_tbl thead {
  border: 0 !important;
  border-bottom: #e2e2e2 solid 1px !important;
}

.w-40 {
  width: 40% !important;
}

.rtcmwou_be tbody tr td {
  padding: 12px 18px 25px !important;
}

.active_bxo_nxc {
  border-right: #6d2ef1 solid 5px;
  background-color: #f9f6ff;
}

.active_bxo_nxc .bxo_be_nam {
  color: #6d2ef1;
}

.bxo_be_nam {
  color: #000;
  margin-bottom: 5px;
  font: normal normal 500 17px/22px Poppins;
}

.bxo_be_pri {
  font: normal normal 500 17px/22px Poppins;
  color: #000;
}

.st_bgbe {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sec_bgbe {
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 0px;
}

.h_tr_pls_ncew svg {
  margin-right: 5px;
  height: 20px;
}

.h_tr_pls_ncew {
  font: normal normal 300 14px/20px Poppins !important;
  text-transform: uppercase;
}

.success_progrss_msts {
  height: 5px;
  position: relative;
  width: 100%;
  background-color: #e6e6e6;
}

.success_progrss_msts:before {
  content: " ";
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #6d2ef1;
}

.select_fex_lbel {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.select_fex_lbelx {
  width: 47%;
  margin: 0px 10px 0px 0px;
}

.select_cscew {
  margin-right: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  font: normal normal 400 13px/35px Poppins !important;
  width: 100%;
  color: #393939;
  background-color: transparent;
  outline: none;
  padding: 9px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.tbl_bgtxt_be {
  font-size: 18px !important;
}

.cemwouu_be {
  margin-top: 100px;
}

.bee_lgtext {
  font-size: 17px !important;
}

.propo_box_sp {
  border: #707070 solid 1px;
  padding: 25px 25px 30px 25px;
  margin-top: 50px;
  position: relative;
}

.send_propo_hdsp {
  color: #170048;
  font: normal normal 600 28px/35px Poppins !important;
}

.ssmtxto_hdsp {
  font: normal normal 400 15px/35px Poppins !important;
}

.sm_select_hdsp {
  margin: 15px 0px;
}

.sm_select_hdsp select {
  padding: 13px 20px;
  width: 100%;
  border: #707070 solid 1px !important;
  color: #5d5d5d;
}

.ssmtxto_hdsp svg {
  margin: 0px 5px;
}

.send_prp_blew_hsp {
  color: #6d2ef1;
  font: normal normal 600 20px/33px Poppins !important;
}

.blue_bx_sp_ct {
  font: normal normal 600 13px/28px Poppins !important;
  border: #6d2ef1 solid 1px;
  padding: 8px 30px;
  border-radius: 50px;
  color: #6d2ef1;
}

.trs_css-76 {
  color: #5d5d5d;
  font: normal normal 500 13px/28px Poppins !important;
  padding: 8px 30px;
}

.pbsp_prs {
  color: #5d5d5d;
  font: normal normal 400 15px/25px Poppins !important;
  padding: 8px 0px;
}

.bbsp_linkn a {
  color: #000000;
  text-decoration: underline;
  font: normal normal 400 14px/25px Poppins !important;
  padding: 15px 0px;
}

.bright_gay {
  border-right: #c7c7c7 solid 1px;
}

.box_bgay {
  padding: 40px 20px 40px 20px;
}

.br_sc_gay {
  margin: 15px 0px;
}

.br_sec_name_cwss {
  font: normal normal 500 17px/25px Poppins !important;
  padding: 0px 8px;
  color: #6d2ef1;
}

.br_sec_val_cwss {
  font: normal normal 300 15px/25px Poppins !important;
  padding: 0px 8px;
  color: #462d7a;
}

.cwcss_cw .blue_bx_sp_ct {
  margin-right: 15px;
  margin-top: 10px;
}

.skll_hding {
  color: #170048;
  font: normal normal 600 18px/33px Poppins !important;
}

.bbtm_gay {
  border-bottom: #c7c7c7 solid 1px;
  padding: 0px 0px 30px 0px;
}

.bg_gray_sp {
  background-color: #f2f8ff;
}

.img_bx_protection {
  height: 250px;
}

.img_bx_protection img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bc_vrwprotection {
  padding: 50px 20px !important;
}

.css-name-proetction {
  color: #304e71;
  text-align: center;
  font: normal normal 400 15px/18px Poppins !important;
}

.css-rve-prt {
  color: #304e71;
  text-align: center;
  font: normal normal 400 13px/30px Poppins !important;
}

.sphd_btext_protection {
  font: normal normal 400 17px/30px Poppins !important;
  color: #304e71;
}

.pbx_pdd_sp {
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: #c2d4e9 solid 1px;
}

.sli_bdg_pddsp {
  font: normal normal 400 15px/30px Poppins !important;
  color: #170048;
}

.hraet_pdd_sp {
  font: normal normal 600 15px/30px Poppins !important;
  color: #170048;
}
.previewProfileUsr {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
}

.tamoun_pdd_sp {
  font: normal normal 400 13px/30px Poppins !important;
  color: #170048;
}

.inp_bdg_pdsp {
  border: #b9c9dc solid 1px;
  display: flex;
  font: normal normal 600 14px/30px Poppins !important;
  color: #170048;
  padding: 8px 20px;
}

.cvr_ltr_textbox textarea {
  height: 170px;
  width: 100%;
  background-color: #fff;
  border: none;
}

.drag_file_bx span {
  color: #6d2ef1;
  font-weight: 500;
  margin: 0px 5px;
}

.drag_file_bx input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.send_pros_btn:hover {
  background-color: #fff;
  color: #0e1f3e;
}

.send_pros_btn {
  background-color: #0e1f3e;
  padding: 12px 40px;
  color: #fff;
  border: #0e1f3e solid 1px;
  font: normal normal 600 16px/30px Poppins !important;
  border-radius: 50px;
  text-transform: uppercase;
}

.drag_file_bx {
  position: relative;
  background-color: #e1edfb;
  font: normal normal 400 14px/30px Poppins !important;
  height: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inp_bdg_pdsp input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
}

.inp_bdg_pdsp input::placeholder {
  color: #000;
}

.slsh_rh {
  padding: 0px 20px;
}

.tracker_header {
  padding: 15px 0px;
  box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;
  margin-bottom: 20px;
}

.wm_3_hdr {
  padding: 10px 25px;
}

.wod_hding {
  font: normal normal 500 23px/30px Poppins !important;
}

.bnt_trackre button {
  background-color: transparent;
  font: normal normal 500 14px/30px Poppins !important;
  padding: 10px 20px;
  border: none;
  border-bottom: transparent solid 5px;
  color: #7d7f80;
}

.active_bnt_trak {
  border-bottom: #6d2ef1 solid 5px !important;
}

.inpptracker input {
  padding: 12px 20px;
  width: 100%;
  font: normal normal 400 14px/30px Poppins !important;
  background-color: #f9f9f9;
  border: #f2f2f2 solid 1px;
}

.css-etxt-trak {
  margin: 0px 20px;
  color: #7e6e9f;
  font: normal normal 500 16px/30px Poppins !important;
}

.th_bthns_tracker .play_btn_blew {
  background-color: #6d2ef1;
  padding: 12px;
  position: relative;
}

.th_bthns_tracker .play_btn_blew:before {
  content: " ";
  position: absolute;
  margin: auto;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border-radius: 50px;
  border: #707070 solid 1px;
}

.th_bthns_tracker .play_btn_blew svg {
  fill: #fff;
  height: 30px;
  width: 30px;
}

.th_bthns_tracker button {
  background-color: transparent;
  margin: 10px 10px;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.th_bthns_tracker button svg {
  fill: #7e6e9f;
  height: 22px;
  width: 22px;
}

.timerackbox {
  border: #e2e2e2 solid 1px;
}

.track_th_hme {
  color: #000000;
  font: normal normal 600 14px/20px Poppins !important;
}

.tth_bgheading {
  color: #000000;
  font: normal normal 600 14px/20px Poppins !important;
}

.timerackbox table thead tr th {
  height: 58px;
  min-width: 75px;
  border-right: #e2e2e2 solid 1px;
}

.nme_profe_track {
  font: normal normal 600 14px/20px Poppins !important;
  padding-left: 10px;
}

.nme_pero_tranes {
  font: normal normal 300 13px/20px Poppins !important;
  padding-left: 10px;
}

.ewon_track_rc {
  display: flex;
  align-items: center;
}

.ewon_track_rc svg {
  margin: -1px 7px;
}

.cewi_trak {
  padding-top: 20px;
}

.ewon_track_rc {
  font: normal normal 400 14px/20px Poppins !important;
  padding-left: 25px;
  text-transform: uppercase;
}

.cewoh_ew {
  font: normal normal 400 15px/30px Poppins !important;
}

.timerackbox table tbody tr td {
  height: 75px;
  border-right: #e2e2e2 solid 1px;
}

.active_trlight {
  background-color: #f6f6f6;
}

.awd_btnrnd button {
  background-color: white;
  padding: 11px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e8e7e7 solid 1px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.timerackbox table tbody {
  margin: 2px 0px !important;
}

.slide_box_tracker_tbl td {
  height: 60px !important;
}

.timerackbox table tbody tr {
  border-color: transparent;
}

.timerackbox table tbody tr:hover {
  background-color: #f6f6f6;
}

.profle_tbls {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.profle_tbls img {
  height: 100%;
  width: 100%;
}

.timerackbox table > :not(caption) > * > * {
  padding: 0.7rem 1rem !important;
}

.border-r-none {
  border-right: none !important;
}

.w-4 {
  width: 4% !important;
}

.w-30 {
  width: 30% !important;
}

.w-8 {
  width: 8% !important;
}

.thh_smheading {
  color: #000000;
  font: normal normal 300 11px/15px Poppins !important;
}

.s_na_inpu {
  position: relative;
}

.pls_s_na_input {
  position: absolute;
  right: 12px;
  height: 25px;
  pointer-events: none;
  width: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 20px;
  top: 7px;
  color: #fff;
  line-height: 20px;
  background-color: #6d2ef1;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.font-12-px {
  font-size: 12px !important;
}

.font-14-px {
  font-size: 14px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-20px {
  font-size: 20px !important;
}

.sflex_spance li {
  margin-right: 50px;
}

.select_no_bder .css-1s2u09g-control {
  background-color: transparent !important;
  border: none !important;
}

.close_account_btn {
  display: flex;
  justify-content: flex-start;
}

.close_account_btn button {
  background-color: #fff;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border: #6d2ef1 solid 1px;
  padding: 8px 30px;
  font-size: 15px;
  color: #6d2ef1;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}

.close_account_btn button:hover {
  background-color: #6d2ef1;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border: #6d2ef1 solid 1px;
  padding: 8px 30px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
}
